.noprint {
  display:none !important;
}

BODY, TBODY {
  font-family: arial;
  font-size: 12px;
  margin: 0;
  color: #000;
  overflow: visible!important;
  /*zoom:85%;*/
}

.teamworkIcon{
  display:none;
}

.mainColumn{
  width:98% !important;
}

.ganttLinesSVG {
    stroke-width: 0px;
}

.taskLabelSVG{
    display: none;
}

.gdfTable{
   width: 0 !important;
}

.fixHead{
  display: none !important;
}